@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);

.block-media {
  position:absolute;
  left:750px;
  top:250px;    
  width: 550px;
  height: 300px;
  display: inline-block;
  float: left;
}

.h1{
    margin-left: 55px;
}
.carousel-images > .slick-list {
  padding: 0 !important;
}
.carousel-images > .slick-list > .slick-slide {
  width: 350px !important;
}
.carousel-images > .slick-prev {
  left: 10px;
}
.carousel-images > .slick-next {
  right: 10px;
}
.carousel-images > .slick-dots {
  bottom: -10px;
}
.carousel-images > .slick-dots > li button:before {
  font-size: 12px;
}

.radio-toolbar{
    margin:5px 10px 15px 50px;
}
